<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.design.ahcms.mapper.UserMapper">
    <insert id="saveUserPassword" parameterType="com.design.ahcms.domain.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (username,phone,password,salt) values (#{username},#{phone},#{password},#{salt})
    </insert>
    <insert id="saveUserDetail" parameterType="com.design.ahcms.domain.UserDetail" useGeneratedKeys="true" keyProperty="id">
        insert into user_detail (name, email, idcard_number, address, department_id, type) values (#{name},#{email},#{idcardNumber},#{address},#{departmentId},#{type})
    </insert>
    <delete id="deleteUser" parameterType="long">
        delete from user where id=#{id}
    </delete>
    <select id="getUser" parameterType="String" resultType="com.design.ahcms.domain.User">
        select *from user where username = #{username} and status = 0
    </select>
</mapper>